/*.heroo {*/
/*    margin: 0px;*/
/*}*/
.flex-shrink-0 {
    width: auto;
    position: fixed;
}
.block {
    display: flex ;
}

.hui {
    height: 1000px;
}

.list-unstyled {
    padding-left: 40px !important;
}

.btn {
    width: 180px !important;
}



/*.rounded-lg-3{*/
/*    padding-right: 50px;*/
/*}*/
/*.footer{*/
/*    display:flex ;*/
/*}*/